USE [FrameDB]
GO

-- ----------------------------
-- Table structure for PKS_KFRAGMENT
-- ----------------------------
CREATE TABLE [PKS_KFRAGMENT] (
    [Id] [int] IDENTITY(1,1) NOT NULL,
    [HOLDPLACEID] varchar(5) NULL ,
    [TITLE] nvarchar(100) NOT NULL ,
    [KFRAGMENTTYPEID] [int] NOT NULL ,
    [QUERYPARAMETER] nvarchar(1024) NOT NULL ,
    [HTMLTEXT] nvarchar(1000) NULL ,
    [KTEMPLATECATALOGUEID] [int] NOT NULL ,
    [CREATEDBY] nvarchar(50) NULL ,
    [CREATEDDATE] datetime NULL ,
    [LASTUPDATEDBY] nvarchar(50) NULL ,
    [LASTUPDATEDDATE] datetime NULL 
)
GO

-- ----------------------------
-- Table structure for PKS_KFRAGMENT_TYPE
-- ----------------------------
CREATE TABLE [PKS_KFRAGMENT_TYPE] (
    [Id] [int] IDENTITY(1,1) NOT NULL,
    [CODE] varchar(50) NOT NULL ,
    [NAME] nvarchar(50) NOT NULL ,
    [CREATEDBY] nvarchar(50) NULL ,
    [CREATEDDATE] datetime NULL ,
    [LASTUPDATEDBY] nvarchar(50) NULL ,
    [LASTUPDATEDDATE] datetime NULL 
)
GO

-- ----------------------------
-- Table structure for PKS_KTEMPLATE
-- ----------------------------
CREATE TABLE [PKS_KTEMPLATE] (
    [Id] [int] IDENTITY(1,1) NOT NULL,
    [CODE] varchar(100) NOT NULL ,
    [NAME] nvarchar(100) NOT NULL ,
    [TEMPLATEURL] nvarchar(255) NOT NULL ,
    [INSTANCECLASS] varchar(50) NOT NULL ,
    [ISDEFAULT] bit NULL ,
    [KTEMPLATECATEGORYID] [int] NOT NULL ,
    [CREATEDBY] nvarchar(50) NULL ,
    [CREATEDDATE] datetime NULL ,
    [LASTUPDATEDBY] nvarchar(50) NULL ,
    [LASTUPDATEDDATE] datetime NULL 
)
GO
EXEC sp_addextendedproperty @name = N'MS_Description', @value = N'实例类型，填元数据名称'
, @level0type = N'SCHEMA', @level0name = N'dbo'
, @level1type = N'TABLE', @level1name = N'PKS_KTEMPLATE'
, @level2type = N'COLUMN', @level2name = N'INSTANCECLASS'
EXEC sp_addextendedproperty @name = N'MS_Description', @value = N'是否为默认模版'
, @level0type = N'SCHEMA', @level0name = N'dbo'
, @level1type = N'TABLE', @level1name = N'PKS_KTEMPLATE'
, @level2type = N'COLUMN', @level2name = N'ISDEFAULT'
GO

-- ----------------------------
-- Table structure for PKS_KTEMPLATE_CATALOGUE
-- ----------------------------
CREATE TABLE [PKS_KTEMPLATE_CATALOGUE] (
    [Id] [int] IDENTITY(1,1) NOT NULL,
    [TITLE] nvarchar(100) NOT NULL ,
    [LEVELNUMBER] [int] NOT NULL ,
    [ORDERNUMBER] [int] NOT NULL ,
    [PARENTID] [int] NOT NULL ,
    [KTEMPLATEID] [int] NOT NULL ,
    [CREATEDBY] nvarchar(50) NULL ,
    [CREATEDDATE] datetime NULL ,
    [LASTUPDATEDBY] nvarchar(50) NULL ,
    [LASTUPDATEDDATE] datetime NULL 
)
GO

-- ----------------------------
-- Table structure for PKS_KTEMPLATE_CATEGORY
-- ----------------------------
CREATE TABLE [PKS_KTEMPLATE_CATEGORY] (
    [Id] [int] IDENTITY(1,1) NOT NULL,
    [SUBSYSTEMID] [int] NOT NULL ,
    [CODE] varchar(100) NOT NULL ,
    [NAME] nvarchar(100) NOT NULL ,
    [CREATEDBY] nvarchar(50) NULL ,
    [CREATEDDATE] datetime NULL ,
    [LASTUPDATEDBY] nvarchar(50) NULL ,
    [LASTUPDATEDDATE] datetime NULL 
)
GO

-- ----------------------------
-- Table structure for PKS_LOG
-- ----------------------------
CREATE TABLE [PKS_LOG] (
    [Id] [int] IDENTITY(1,1) NOT NULL,
    [SYSTEM] nvarchar(20) NOT NULL ,
    [LOGLEVEL] nvarchar(10) NOT NULL ,
    [CREATEDDATE] datetime NOT NULL ,
    [MESSAGE] nvarchar(2000) NULL ,
    [REQUEST] nvarchar(2000) NULL ,
    [PRINCIPAL] nvarchar(1000) NULL ,
    [EXSOURCE] nvarchar(2000) NULL ,
    [EXCONTENT] nvarchar(MAX) NULL ,
    [EXDATA] nvarchar(MAX) NULL 
)
GO

-- ----------------------------
-- Table structure for PKS_PERMISSION
-- ----------------------------
CREATE TABLE [PKS_PERMISSION] (
    [Id] [int] IDENTITY(1,1) NOT NULL,
    [CODE] nvarchar(20) NOT NULL ,
    [TITLE] nvarchar(50) NOT NULL ,
    [DESCRIPTION] nvarchar(255) NULL ,
    [PERMISSIONTYPEID] [int] NOT NULL ,
    [URL] nvarchar(255) NULL ,
    [SUBSYSTEMID] [int] NULL ,
    [LEVELNUMBER] [int] NOT NULL ,
    [ORDERNUMBER] [int] NOT NULL ,
    [PARENTID] [int] NULL ,
    [CREATEDBY] nvarchar(50) NULL ,
    [CREATEDDATE] datetime NULL ,
    [LASTUPDATEDBY] nvarchar(50) NULL ,
    [LASTUPDATEDDATE] datetime NULL 
)
GO

-- ----------------------------
-- Table structure for PKS_PERMISSION_TYPE
-- ----------------------------
CREATE TABLE [PKS_PERMISSION_TYPE] (
    [Id] [int] IDENTITY(1,1) NOT NULL,
    [CODE] varchar(50) NOT NULL ,
    [NAME] varchar(50) NOT NULL 
)
GO

-- ----------------------------
-- Table structure for PKS_REMARK
-- ----------------------------
CREATE TABLE [PKS_REMARK] (
    [Id] [int] IDENTITY(1,1) NOT NULL,
    [IIID] nvarchar(100) NOT NULL ,
    [REMARK] nvarchar(2000) NOT NULL ,
    [USERID] [int] NULL ,
    [CREATEDBY] nvarchar(50) NULL ,
    [CREATEDDATE] datetime NULL ,
    [LASTUPDATEDBY] nvarchar(50) NULL ,
    [LASTUPDATEDDATE] datetime NULL 
)
GO

-- ----------------------------
-- Table structure for PKS_REMARK_THUMBUP
-- ----------------------------
CREATE TABLE [PKS_REMARK_THUMBUP] (
    [Id] [int] IDENTITY(1,1) NOT NULL,
    [REMARKID] [int] NOT NULL ,
    [USERID] [int] NOT NULL ,
    [CREATEDBY] nvarchar(50) NULL ,
    [CREATEDDATE] datetime NULL ,
    [LASTUPDATEDBY] nvarchar(50) NULL ,
    [LASTUPDATEDDATE] datetime NULL 
)
GO

-- ----------------------------
-- Table structure for PKS_ROLE_PERMISSION
-- ----------------------------
CREATE TABLE [PKS_ROLE_PERMISSION] (
    [Id] [int] IDENTITY(1,1) NOT NULL,
    [ROLEID] [int] NOT NULL ,
    [PERMISSIONID] [int] NOT NULL ,
    [ISDEFAULT] [int] NOT NULL ,
    [CREATEDBY] nvarchar(50) NULL ,
    [CREATEDDATE] datetime NULL ,
    [LASTUPDATEDBY] nvarchar(50) NULL ,
    [LASTUPDATEDDATE] datetime NULL 
)
GO

-- ----------------------------
-- Table structure for PKS_SEARCHHISTORY
-- ----------------------------
CREATE TABLE [PKS_SEARCHHISTORY] (
    [Id] [int] IDENTITY(1,1) NOT NULL,
    [SOURCEID] nvarchar(128) NULL ,
    [TARGETID] nvarchar(128) NULL ,
    [USERID] nvarchar(50) NULL ,
    [SOURCETIME] datetime NULL ,
    [TARGETTIME] datetime NULL ,
    [BROWSERNAME] nvarchar(100) NULL ,
    [CLIENTIP] nvarchar(20) NULL ,
    [SOURCEPAGENAMEENUM] nvarchar(50) NULL ,
    [TARGETPAGENAMEENUM] nvarchar(50) NULL ,
    [SOURCEWAYENUM] nvarchar(50) NULL ,
    [PAGERESULTSENUM] nvarchar(50) NULL ,
    [RUNTIME] real NULL ,
    [INPUTWORD] nvarchar(200) NULL ,
    [INPUTWORDTYPEENUM] nvarchar(10) NULL ,
    [BO] nvarchar(100) NULL ,
    [BOT] nvarchar(100) NULL ,
    [PT] nvarchar(100) NULL ,
    [BP] nvarchar(100) NULL ,
    [IIID] nvarchar(200) NULL ,
    [TITLE] nvarchar(100) NULL ,
    [ADAPTERNAME] nvarchar(100) NULL ,
    [RESOURCESNAME] nvarchar(100) NULL ,
    [RESOURCESFORMAT] nvarchar(20) NULL ,
    [ISDELETE] bit NULL 
)
GO
EXEC sp_addextendedproperty @name = N'MS_Description', @value = N'SearchHistory'
, @level0type = 'SCHEMA', @level0name = N'dbo'
, @level1type = 'TABLE', @level1name = N'PKS_SEARCHHISTORY'
GO

-- ----------------------------
-- Table structure for PKS_SUBSYSTEM
-- ----------------------------
CREATE TABLE [PKS_SUBSYSTEM] (
    [Id] [int] IDENTITY(1,1) NOT NULL,
    [CODE] varchar(50) NOT NULL ,
    [NAME] nvarchar(50) NOT NULL ,
    [ROOTURL] nvarchar(255) NULL ,
    [CREATEDBY] nvarchar(50) NULL ,
    [CREATEDDATE] datetime NULL ,
    [LASTUPDATEDBY] nvarchar(50) NULL ,
    [LASTUPDATEDDATE] datetime NULL 
)
GO

-- ----------------------------
-- Indexes structure for table PKS_KFRAGMENT
-- ----------------------------

-- ----------------------------
-- Primary Key structure for table PKS_KFRAGMENT
-- ----------------------------
ALTER TABLE [PKS_KFRAGMENT] ADD PRIMARY KEY ([ID])
GO

-- ----------------------------
-- Indexes structure for table PKS_KFRAGMENT_TYPE
-- ----------------------------

-- ----------------------------
-- Primary Key structure for table PKS_KFRAGMENT_TYPE
-- ----------------------------
ALTER TABLE [PKS_KFRAGMENT_TYPE] ADD PRIMARY KEY ([ID])
GO

-- ----------------------------
-- Indexes structure for table PKS_KTEMPLATE
-- ----------------------------

-- ----------------------------
-- Primary Key structure for table PKS_KTEMPLATE
-- ----------------------------
ALTER TABLE [PKS_KTEMPLATE] ADD PRIMARY KEY ([ID])
GO

-- ----------------------------
-- Indexes structure for table PKS_KTEMPLATE_CATALOGUE
-- ----------------------------

-- ----------------------------
-- Primary Key structure for table PKS_KTEMPLATE_CATALOGUE
-- ----------------------------
ALTER TABLE [PKS_KTEMPLATE_CATALOGUE] ADD PRIMARY KEY ([ID])
GO

-- ----------------------------
-- Indexes structure for table PKS_KTEMPLATE_CATEGORY
-- ----------------------------

-- ----------------------------
-- Primary Key structure for table PKS_KTEMPLATE_CATEGORY
-- ----------------------------
ALTER TABLE [PKS_KTEMPLATE_CATEGORY] ADD PRIMARY KEY ([ID])
GO

-- ----------------------------
-- Indexes structure for table PKS_LOG
-- ----------------------------
CREATE INDEX [INX_PK_LOG_LEVEL] ON [PKS_LOG] ([LOGLEVEL] ASC) 
GO

-- ----------------------------
-- Primary Key structure for table PKS_LOG
-- ----------------------------
ALTER TABLE [PKS_LOG] ADD PRIMARY KEY ([ID])
GO

-- ----------------------------
-- Indexes structure for table PKS_PERMISSION
-- ----------------------------

-- ----------------------------
-- Primary Key structure for table PKS_PERMISSION
-- ----------------------------
ALTER TABLE [PKS_PERMISSION] ADD PRIMARY KEY ([ID])
GO

-- ----------------------------
-- Indexes structure for table PKS_PERMISSION_TYPE
-- ----------------------------

-- ----------------------------
-- Primary Key structure for table PKS_PERMISSION_TYPE
-- ----------------------------
ALTER TABLE [PKS_PERMISSION_TYPE] ADD PRIMARY KEY ([ID])
GO

-- ----------------------------
-- Indexes structure for table PKS_REMARK
-- ----------------------------

-- ----------------------------
-- Primary Key structure for table PKS_REMARK
-- ----------------------------
ALTER TABLE [PKS_REMARK] ADD PRIMARY KEY ([ID])
GO

-- ----------------------------
-- Indexes structure for table PKS_REMARK_THUMBUP
-- ----------------------------

-- ----------------------------
-- Primary Key structure for table PKS_REMARK_THUMBUP
-- ----------------------------
ALTER TABLE [PKS_REMARK_THUMBUP] ADD PRIMARY KEY ([ID])
GO

-- ----------------------------
-- Indexes structure for table PKS_ROLE_PERMISSION
-- ----------------------------
CREATE UNIQUE INDEX [UX_ROLE_PORTAL_PERMISSION] ON [PKS_ROLE_PERMISSION] ([ROLEID] ASC, [PERMISSIONID] ASC) 
GO

-- ----------------------------
-- Primary Key structure for table PKS_ROLE_PERMISSION
-- ----------------------------
ALTER TABLE [PKS_ROLE_PERMISSION] ADD PRIMARY KEY ([ID])
GO

-- ----------------------------
-- Indexes structure for table PKS_SUBSYSTEM
-- ----------------------------

-- ----------------------------
-- Primary Key structure for table PKS_SUBSYSTEM
-- ----------------------------
ALTER TABLE [PKS_SUBSYSTEM] ADD PRIMARY KEY ([ID])
GO

-- ----------------------------
-- Foreign Key structure for table [PKS_KFRAGMENT]
-- ----------------------------
ALTER TABLE [PKS_KFRAGMENT] ADD FOREIGN KEY ([KFRAGMENTTYPEID]) REFERENCES [PKS_KFRAGMENT_TYPE] ([ID])
GO
ALTER TABLE [PKS_KFRAGMENT] ADD FOREIGN KEY ([KTEMPLATECATALOGUEID]) REFERENCES [PKS_KTEMPLATE_CATALOGUE] ([ID])
GO

-- ----------------------------
-- Foreign Key structure for table [PKS_KTEMPLATE]
-- ----------------------------
ALTER TABLE [PKS_KTEMPLATE] ADD FOREIGN KEY ([KTEMPLATECATEGORYID]) REFERENCES [PKS_KTEMPLATE_CATEGORY] ([ID])
GO

-- ----------------------------
-- Foreign Key structure for table [PKS_KTEMPLATE_CATALOGUE]
-- ----------------------------
ALTER TABLE [PKS_KTEMPLATE_CATALOGUE] ADD FOREIGN KEY ([KTEMPLATEID]) REFERENCES [PKS_KTEMPLATE] ([ID])
GO

-- ----------------------------
-- Foreign Key structure for table [PKS_KTEMPLATE_CATEGORY]
-- ----------------------------
ALTER TABLE [PKS_KTEMPLATE_CATEGORY] ADD FOREIGN KEY ([SUBSYSTEMID]) REFERENCES [PKS_SUBSYSTEM] ([ID])
GO

-- ----------------------------
-- Foreign Key structure for table [PKS_PERMISSION]
-- ----------------------------
ALTER TABLE [PKS_PERMISSION] ADD FOREIGN KEY ([PARENTID]) REFERENCES [PKS_PERMISSION] ([ID])
GO
ALTER TABLE [PKS_PERMISSION] ADD FOREIGN KEY ([SUBSYSTEMID]) REFERENCES [PKS_SUBSYSTEM] ([ID])
GO
ALTER TABLE [PKS_PERMISSION] ADD FOREIGN KEY ([PERMISSIONTYPEID]) REFERENCES [PKS_PERMISSION_TYPE] ([ID])
GO

-- ----------------------------
-- Foreign Key structure for table [PKS_REMARK_THUMBUP]
-- ----------------------------
ALTER TABLE [PKS_REMARK_THUMBUP] ADD FOREIGN KEY ([REMARKID]) REFERENCES [PKS_REMARK] ([ID])
GO

-- ----------------------------
-- Foreign Key structure for table [PKS_ROLE_PERMISSION]
-- ----------------------------
ALTER TABLE [PKS_ROLE_PERMISSION] ADD FOREIGN KEY ([PERMISSIONID]) REFERENCES [PKS_PERMISSION] ([ID])
GO

CREATE TABLE [dbo].[USERAUTHSESSIONS] (
    [SESSIONKEY] varchar(32) NOT NULL ,
    [APPKEY] varchar(32) NOT NULL ,
    [USERNAME] varchar(50) NULL ,
    [IPADDRESS] varchar(30) NOT NULL ,
    [INVALIDTIME] datetime NOT NULL ,
    [CREATETIME] datetime NOT NULL 
)
GO

ALTER TABLE [USERAUTHSESSIONS] ADD PRIMARY KEY ([SESSIONKEY])
GO

-- ----------------------------
-- View structure for VI_API_DATA_AUTH
-- ----------------------------
CREATE VIEW [dbo].[VI_API_DATA_AUTH]
AS 
SELECT adr.RID,
     aat.ClientName,
       aat.ClientId,
       aat.TokeyCode,
       aat.ValidityDate,
       adni.DataNodeID,
       adni.DataNodeName,
       adni.DataParentID
FROM   API_AUTH_TOKEN aat
       INNER JOIN API_DATA_RELATION adr
            ON  aat.TokeyID = adr.TokeyID
       INNER JOIN API_DATA_NODE_INFO adni
            ON  adni.DataID = adr.DataID
WHERE  aat.IsValid = '1'
       AND adni.IsValid = '1';
GO

-- ----------------------------
-- View structure for VI_USERINFO
-- ----------------------------
CREATE VIEW [dbo].[VI_USERINFO]
AS 
SELECT
  T1.[USERID],T1.[USERNAME],T1.[EMAIL],T1.[PHONENUMBER],T1.[AVATARID],
  T2.CREATEDATE, T2.CONFIRMATIONTOKEN, T2.ISCONFIRMED, T2.LASTPASSWORDFAILUREDATE, T2.PasswordFailuresSinceLastSuccess, T2.[PASSWORD], T2.PASSWORDCHANGEDDATE, T2.PASSWORDSALT, T2.PASSWORDVERIFICATIONTOKEN, T2.PasswordVerificationTokenExpirationDate,
  T4.ROLEID, T4.ROLENAME, T4.[DESCRIPTION] AS ROLEDESC
FROM USERPROFILE T1
LEFT JOIN WEBPAGES_MEMBERSHIP T2 ON T1.USERID=T2.USERID
LEFT JOIN WEBPAGES_USERSINROLES T3 ON T2.USERID=T3.USERID
LEFT JOIN WEBPAGES_ROLES T4 ON T3.ROLEID=T4.ROLEID;
GO


declare @now datetime = getdate()
INSERT INTO [PKS_KFRAGMENT_TYPE] ([CODE], [NAME], [CREATEDBY], [CREATEDDATE], [LASTUPDATEDBY], [LASTUPDATEDDATE]) VALUES 
(N'Html', N'文本', 'admin', @now, 'admin', @now), 
(N'Image', N'图片', 'admin', @now, 'admin', @now), 
(N'PDF', N'PDF文档', 'admin', @now, 'admin', @now), 
(N'Audio', N'音频', 'admin', @now, 'admin', @now), 
(N'Video', N'视频', 'admin', @now, 'admin', @now), 
(N'Dynamic', N'动态成图/表', 'admin', @now, 'admin', @now)
GO

declare @now datetime = getdate()
set identity_insert  PKS_SUBSYSTEM on
insert into PKS_SUBSYSTEM (id, code, name, rooturl, createdby, createddate, lastupdatedby, lastupdateddate) values (1, 'PORTAL',	'门户站点', 'http://10.138.99.231:8082', 'admin', @now, 'admin', @now);
insert into PKS_SUBSYSTEM (id, code, name, rooturl, createdby, createddate, lastupdatedby, lastupdateddate) values (2, 'SOOIL',		'搜索门户', 'http://10.138.99.231:8081', 'admin', @now, 'admin', @now);
insert into PKS_SUBSYSTEM (id, code, name, rooturl, createdby, createddate, lastupdatedby, lastupdateddate) values (3, 'WEBAPI',	'WebAPI站点', 'http://10.138.99.231:8080', 'admin', @now, 'admin', @now);
set identity_insert  PKS_SUBSYSTEM off
GO

set identity_insert  webpages_Roles on
INSERT INTO webpages_Roles(RoleId,RoleName) VALUES (2, '勘探部')
INSERT INTO webpages_Roles(RoleId,RoleName) VALUES (3, '研究院')
set identity_insert  webpages_Roles off
GO

set identity_insert  PKS_PERMISSION_TYPE on
insert into PKS_PERMISSION_TYPE (id, code, name) values (1, 'Menu', '菜单页面');
insert into PKS_PERMISSION_TYPE (id, code, name) values (2, 'Page', '非菜单页面');
insert into PKS_PERMISSION_TYPE (id, code, name) values (3, 'Function', '页面中功能项');
set identity_insert  PKS_PERMISSION_TYPE off
GO

declare @now datetime = getdate()
set identity_insert  PKS_PERMISSION on
insert into PKS_PERMISSION (id, code, title, [description], permissiontypeid, [url], subsystemid, levelnumber, ordernumber, parentid, createdby, createddate, lastupdatedby, lastupdateddate) values (1, 'M00', '勘探首页', '勘探首页', 1, '#', 1, 1, 1, null, 'admin', @now, 'admin', @now);
insert into PKS_PERMISSION (id, code, title, [description], permissiontypeid, [url], subsystemid, levelnumber, ordernumber, parentid, createdby, createddate, lastupdatedby, lastupdateddate) values (2, 'M01', '勘探信息共享', '勘探信息共享', 1, '/ExplorationOverview/Index', 4, 1, 2, null, 'admin', @now, 'admin', @now);
insert into PKS_PERMISSION (id, code, title, [description], permissiontypeid, [url], subsystemid, levelnumber, ordernumber, parentid, createdby, createddate, lastupdatedby, lastupdateddate) values (3, 'M0101', '概况', '概况', 1, '/ExplorationOverview/Index', 4, 2, 1, 2, 'admin', @now, 'admin', @now);

set identity_insert  PKS_PERMISSION off
GO

declare @now datetime = getdate()
insert into PKS_ROLE_PERMISSION (roleid, permissionid, isdefault, createdby, createddate, lastupdatedby, lastupdateddate)
    select 1, id, 0, 'admin', @now, 'admin', @now
    from PKS_PERMISSION order by id
update PKS_ROLE_PERMISSION set isdefault = 1 where roleid=1 and permissionid = 3
GO
